<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categories</title>
</head>
<body>
    <h1>Categories</h1>
    <a th:href="@{/category/new}">Add New Category</a>
    <ul>
        <li th:each="category : ${categories}">
            <span th:text="${category.title}"></span>
            <span th:text="${category.description}"></span>
            <a th:href="@{/category/edit/{id}(id=${category.catId})}">Edit</a>
            <a th:href="@{/category/delete/{id}(id=${category.catId})}">Delete</a>
        </li>
    </ul>
</body>
</html>
